@import "../../variables.scss";

.title{
  width: calc(100% + #{$border-radius-large});
  height: 300px;
  padding: 1.6rem 2.25rem;
  display: flex;
  box-sizing: border-box;
  align-items: flex-end;
  position: relative;
  left: -$border-radius-large;

  @include mobile{
    height: 150px;
    padding: 12px 8px;
  }

  & > h1{
    color: #EEE;
    font-size: 2.4rem;
    font-weight: normal;
    text-shadow: 0 0 .38rem #000, 0 0 .75rem #000;
    word-break: break-word;

    @include mobile{
      font-size: 1.5rem;
    }
  }
}

.server-header{
  margin-top: .25rem;
  padding: 0 1.1rem;
  display: flex;
  align-items: center;

  @include mobile{
    padding: .125rem;
  }

  & > div{
    margin-right: 2rem;
    display: flex;
    align-items: center;

    @include mobile{
      margin-right: .63rem;

      & > .icon{
        padding: 0 .75rem;
      }
    }

    &:last-child{
      margin-right: 0;
    }

    & > .icon{
      height: 2.38rem;
      display: flex;
      align-items: center;

      svg{
        height: 1.25rem;
        top: 0;
      }
    }
  }
}

div.content{
  margin-bottom: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  .players td{
    word-break: break-all;
  }

  @include mobile{
    grid-template-columns: inherit;

    & > * h2{
      font-size: 1.5rem;
    }
  }
}

.yes{
  color: #46A046;
}

.no{
  color: #D1332E;
}

.players table td:first-child{
  word-break: break-word;
  white-space: normal;
}

.history{
  min-height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  user-select: none;

  & > span{
    padding: 0 .1rem;
    font-size: .9rem;
    font-weight: 500;
    align-self: flex-start;
    position: absolute;
    top: -.25rem;
    pointer-events: none;

    &:last-child{
      right: 0;
    }
  }

  & > *:not(span){
    width: calc(100% / 24);

    & > div:first-child{
      background-color: $color-primary;
    }

    & > div:last-child{
      font-size: .8rem;
      text-align: center;
    }
  }
}

.play-dialog .dialog__inner{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: .5rem;

  .btn{
    padding: 0 .25rem;
  }
}

@keyframes fade-in{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}
