@import "../variables.scss";

.search-box{
  height: 38px;
  padding: .1rem .9rem;
  background-color: var(--bg-lighter);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
  box-shadow: $shadow;
  border: 1px solid transparent;
  border-radius: $border-radius;
  z-index: 0;

  &:hover, &.focus{
    box-shadow: 0 2px 2rem rgba(0, 0, 0, .08), 0 1px .5rem rgba(0, 0, 0, .05);
  }

  &.focus{
    border-color: $color-primary;
  }

  input{
    margin-right: 2.4rem;
    max-width: 100%;
    background: transparent;
    flex: 1;
    border: none;
    box-shadow: none;
  }

  .icon:first-child{
    margin-top: -4px;
    margin-right: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn{
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
  }
}
