@import "../variables.scss";

.title{
  height: 300px;
  padding: 26px 36px;
  display: flex;
  box-sizing: border-box;
  align-items: flex-end;

  @include mobile{
    height: 170px;
    padding: 12px 8px;
  }

  & > h1{
    color: #EEE;
    font-size: 38px;
    font-weight: normal;
    text-shadow: 0 1px 8px #000;
    word-break: break-word;

    @include mobile{
      font-size: 30px;
    }
  }

  & > .icon{
    padding: 0 8px;

    svg{
      height: 30px;

      @include mobile{
        height: 22px;
      }
    }
  }
}

.server-header{
  height: 32px;
  padding: 8px 18px;

  div{
    margin-right: 48px;
    display: inline-block;
    line-height: .9em;

    @include mobile{
      margin-right: 22px;
    }
  }

  .btn-play{
    line-height: 38px;
    box-shadow: $shadow;
  }
}

div.content{
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  @include mobile{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.yes{
  color: #46A046;
}

.no{
  color: #D1332E;
}

.play-popup{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-in .15s forwards;

  .overlay{
    background-color: var(--bg);
    opacity: .5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .close{
    padding-top: 8px;
    padding-right: 8px;
    position: absolute;
    top: 0;
    right: 0;
  }

  & > div{
    max-width: 90%;
    width: 380px;
    min-height: 100px;
    background-color: var(--bg-lighter);
    position: relative;
    box-shadow: $shadow;
    border-radius: $border-radius-large;
  }

  .popup-header{
    padding: 16px;
    text-align: center;
  }

  .inner{
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: .5rem;

    .btn{
      padding: 0 4px;
    }
  }
}

@keyframes fade-in{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}
