@import "../variables.scss";
@import "../index.scss";

.settings{
  margin-top: 32px;
  line-height: 1.7;
  display: flex;

  @include mobile{
    width: 90vw;
    margin: 0 auto;
    flex-direction: column;
  }

  .settings__sidebar{
    padding: 0 52px;
    flex-basis: 340px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @include mobile{
      padding: 18px 0;
      flex-basis: auto;
    }

    .btn{
      margin-top: 8px;
      text-align: left;
      position: relative;

      &[data-selected=true]{
        @extend .btn-primary;
      }
    }
  }

  .settings__inner{
    padding-right: 52px;
    flex: 1;

    @include mobile{
      padding-right: 0;
    }
  }
}
