@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

@import "variables.scss";

*{
  font-family: Montserrat, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html{
  &.custom-scrollbars{
    ::-webkit-scrollbar{
      width: .5rem;
      height: .5rem;
    }

    ::-webkit-scrollbar-thumb{
      background: linear-gradient(45deg, hsl(210, 5%, 20%), hsl(210, 5%, 40%));
    }
  }

  font-size: 16px;

  --bg: hsl(210, 5%, 97%);
  --bg-lighter: hsl(210, 5%, 100%);
  --bg-darker: hsl(210, 5%, 95%);
  --color-hover: rgba(0, 0, 0, .05);
  --color-text-headings: hsl(210, 5%, 30%);
  --color-text: hsl(210, 5%, 40%);
}

html[data-theme=dark]{
  --bg: hsl(210, 5%, 10%);
  --bg-lighter: hsl(210, 5%, 14%);
  --bg-darker: hsl(210, 5%, 8%);
  --color-hover: rgba(255, 255, 255, .05);
  --color-text-headings: hsl(210, 5%, 85%);
  --color-text: hsl(210, 5%, 75%);
}

html[data-theme=midnight]{
  --bg: #000;
  --bg-lighter: hsl(210, 5%, 6%);
  --bg-darker: hsl(210, 5%, 4%);
  --color-hover: rgba(255, 255, 255, .1);
  --color-text-headings: hsl(210, 5%, 90%);
  --color-text: hsl(210, 5%, 85%);
}

body{
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3{
  margin: 0;
  color: var(--color-text-headings);
}

h1{
  background: $gradient-primary;
  background-clip: text;
  color: transparent;
  font-size: 2.75rem;
  font-weight: 500;
  display: inline-block;

  @include mobile{
    font-size: 32px;
  }
}

h2{
  font-size: 2rem;

  @include mobile{
    font-size: 1.5rem;
  }
}

.icon svg, .icon img{
  position: relative;
  top: 2px;
  transition: transform .2s ease-in-out;
}

.icon:active svg, .icon:active img{
  transform: scale(calc(1 + var(--animations) * .1));
}

.link{
  margin: 0;
  padding: 0;
  background: none;
  font-size: 1em;
  display: inline;
  border: none;
  outline: none;
}

a, .link{
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
}

a:hover, .link:hover{
  color: $color-primary-light;
  text-decoration: underline;
}

.btn{
  padding: .15rem 1.1rem;
  background: transparent;
  color: var(--color-text);
  font-size: .95rem;
  font-weight: 500;
  line-height: 2rem;
  display: inline-block;
  border: none;
  border-radius: $border-radius;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.btn:hover{
  background-color: var(--color-hover);
  text-decoration: none;
}

.btn.icon{
  min-width: 0;
  padding: 0 .9rem;
}

.btn-primary{
  background: $gradient-primary;
  color: #FFF;
  font-weight: 700;
  box-shadow: 0 1px 1rem rgba($color-primary, .7);

  &:hover{
    background: $gradient-primary;
    color: #FFF;
  }
}

.btn-outline{
  border: 1px solid var(--color-text);

  &:active{
    border-color: $color-primary;
  }
}

.wrapper{
  width: 85vw;
  margin: 0 auto;
  margin-top: 2.25rem;
  line-height: 1.7;

  h1{
    line-height: 1.2;
  }

  @include mobile{
    width: 90vw;
    margin-top: .75rem;
  }
}

.container{
  padding: 1.75rem 2rem;

  @include mobile{
    padding: .75rem .5rem;
  }
}

table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px;
}

tr{
  height: 2.25rem;

  @include mobile{
    height: 2rem;
  }

  @include desktop{
    &:hover{
      background: linear-gradient(to right, var(--bg-lighter), var(--bg-darker));
      box-shadow: $shadow;
    }
  }
}

th{
  text-align: left;
  cursor: pointer;
}

td, th{
  padding: 0 8px;
  font-size: .9rem;

  &:first-child{
    padding-left: .9rem;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &:last-child{
    padding-right: .9rem;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &:last-child,
  &:first-child:nth-last-child(7),
  &:first-child:nth-last-child(7) ~ &:nth-last-child(2){
    width: 1%;
    white-space: nowrap;
  }

  @include mobile{
    padding: 0 .4rem;

    &:first-child{
      padding-left: .25rem;
    }

    &:last-child{
      padding-right: .25rem;
    }
  }
}

.table-compact{
  border-collapse: collapse;

  tr, img{
    height: 1.5rem;
  }

  .btn{
    line-height: 1.5rem;
  }
}

.card-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 2rem;

  @include mobile{
    grid-gap: 1rem;
  }

  & > *{
    padding: 1rem 1.7rem;
    background-color: var(--bg-lighter);
    display: block;
    box-shadow: $shadow;
    border-radius: $border-radius-large;
    animation: slide-up calc(var(--animations) * .15s) forwards ease;
    opacity: calc(var(--animations) * -1 + 1);

    @include mobile{
      padding: .75rem 1rem;
    }

    @include desktop{
      tr:hover{
        background: linear-gradient(to right, var(--bg), var(--bg-darker));
      }
    }

    h2{
      word-break: break-word;
      margin-bottom: .8rem;

      @include mobile{
        line-height: 1;
      }

      & > .icon{
        margin-right: .4rem;
        padding: 0;
        background: none;

        svg{
          height: 18px;
        }
      }
    }

    td{
      word-break: break-all;
      white-space: pre;
    }

    @include mobile{
      td:first-child:nth-last-child(2),
      td:first-child:nth-last-child(2) ~ td{
        &:first-child{
          width: .1%;
        }

        &:last-child{
          white-space: normal;
        }
      }
    }

    img{
      margin-bottom: -3px;
    }

    @for $i from 2 through 3{
      &:nth-child(#{$i}){
        animation-delay: (.05s * $i);
      }
    }
  }
}

.label{
  padding: .1rem 0;
  display: inline-block;
  font-size: 1.05rem;
  font-weight: 700;
}

.header{
  @extend .wrapper;

  margin-bottom: 2rem;

  & > div{
    margin-top: .5rem;
    font-size: 1.4rem;
  }

  @include mobile{
    & > div{
      font-size: 1.2rem;
    }
  }
}

.btn-list{
  margin: 1rem 0;

  @include mobile{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }

  & > .btn{
    margin-right: 1.4rem;

    &:last-child{
      margin-right: 0;
    }

    @include mobile{
      margin-bottom: .75rem;
    }
  }
}

textarea{
  width: 100%;
  max-width: 800px;
  height: 400px;
  min-height: 50px;
  padding: .4rem .5rem;
  background-color: var(--bg-lighter);
  color: var(--color-text);
  font-size: .9rem;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: $border-radius;
  box-shadow: $shadow;
  outline: none;
  resize: vertical;

  &:focus{
    border-color: $color-primary;
  }
}

.list{
  display: grid;
  grid-template-columns: minmax(300px, 500px);
  grid-gap: .7rem;

  & > div{
    padding: .15rem;
    background-color: var(--bg-lighter);
    display: flex;
    align-items: center;
    box-shadow: $shadow;
    border-radius: $border-radius;
    animation: slide-in calc(var(--animations) * .15s) forwards ease;
    opacity: calc(var(--animations) * -1 + 1);

    b{
      margin-left: .6rem;
      font-size: .9rem;
      word-break: break-word;
      flex: 1;
    }

    @for $i from 2 through 6{
      &:nth-child(#{$i}){
        animation-delay: (.025s * $i);
      }
    }

    &:nth-child(n+7){
      animation-delay: .2s;
    }
  }
}

input[type=text]{
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  padding: .5rem .8rem;
  background-color: var(--bg-lighter);
  color: var(--color-text);
  font-size: .9rem;
  box-sizing: border-box;
  border: none;
  border-radius: $border-radius;
  outline: none;
  box-shadow: $shadow;

  &::placeholder{
    color: var(--color-text);
  }
}

.info-popout{
  max-width: 800px;
  padding: 1rem 1.6rem;
  background: linear-gradient(45deg, var(--bg-darker), var(--bg));
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: $shadow;
  border-radius: $border-radius-large;

  & > div:last-child{
    display: flex;
  }
}

@include mobile{
  .mobile-hide{
    display: none !important;
  }
}

@keyframes slide-in{
  0%{
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }

  100%{
    opacity: 1;
    transform: none;
  }
}

@keyframes slide-up{
  0%{
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  100%{
    opacity: 1;
    transform: none;
  }
}
